<table class="ui celled table">
  <thead>
    <tr>
      <th><i class="fas fa-map-marker-alt"></i> Place Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Name">James</td>
      <td data-label="Age">24</td>
      <td data-label="Job">Engineer</td>
      <td class="actions">
        <div class="action remove">Remove<i class="fas fa-backspace"></i></div>
        <div class="action edit">Edit<i class="far fa-edit"></i></div>
      </td>
    </tr>
  </tbody>
</table>
